@import '../../stylesheets/medias';

.info-band {
  width: 100%;
  max-width: 1120px;
  display: flex;
  background-color: #ffffff;
  align-items: flex-start;
  justify-content: space-between;

  @include xs {
    flex-direction: column;
  }

  @include sm {
    //flex-direction: row;
  }

  &__header {
    display: flex;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
  }

  &__detals {
    margin-bottom: -60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    p {
      width: 33%;
      padding-bottom: 30px;
      color: #a4a6b0;
      text-align: center;
      font-size: 16px;
    }

    img {
      width: 120px;
      border-radius: 100%;
    }
  }

  &__biografy {
    margin: 30px 50px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    position: relative;

    .separator {
      display: flex;
      align-items: center;
      text-align: center;
    }

    .separator::before,
    .separator::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #dfdfdf;
    }

    .separator::before {
      margin-right: 0.5em;
    }

    .separator::after {
      margin-left: 0.5em;
    }
  }

  &__albuns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 24px;
      font-weight: 300;
      margin: 30px 0px;
    }
  }

  &__albunsImgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    img {
      width: 100%;
    }
  }
}

.btn {
  width: 100%;
}

.show,
.hide {
  position: absolute;
  bottom: -1em;
  z-index: 100;
  text-align: center;
}
.hide {
  display: none;
}
.show:target {
  display: none;
}
.show:target ~ .hide {
  display: block;
}
.show:target ~ .panel {
  max-height: 2000px;
}
.show:target ~ .fade {
  margin-top: 0;
}

.panel {
  position: relative;
  margin: 2em auto;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.fade {
  background: linear-gradient(to bottom, rgba(#fff, 0) 0%, rgba(#fff, 1) 75%);
  height: 100px;
  margin-top: -100px;
  position: relative;
}
