@import '../../stylesheets/medias';

.bands {
  width: 100%;
  max-width: 1120px;

  &__loading {
    margin-top: 100px;
  }

  @include sm {
    margin: 1em;
  }

  ul {
    display: grid;
    grid-gap: 2px;
    list-style: none;
    grid-template-columns: repeat(1, 1fr);

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.noResults {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    color: #c9caca;
    font-weight: 300;
  }

  img {
    margin-top: 50px;
    display: flex;
    align-items: center;
    max-width: 50%;
  }
}
